$color-grey: #444444;
$color-light-grey-2:#666;
$color-light-grey:#f3f3f3;
$color-white: #fff;
$color-dark-blue: #37383d;
$border-grey:#ddd;
$dots-grey: #b9b9b9;
$dot-active: #888;
$color : #ffffffc7